body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Background color back to white */
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between the logo, text, and buttons */
    width: 90%; /* Full width with some padding */
    max-width: 400px; /* Limit maximum width */
    text-align: center; /* Center-align the text */
    align-items: center; /* Center-align items vertically */
    margin-top: -200px; /* Adjust vertical position */
}

.logo {
    width: 420px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-bottom: -220px; /* Add space below the logo */
}

h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

button {
    background-color: #18f98f;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0edb75;
    transform: translateY(-2px);
}

button:active {
    background-color: #0bc963;
    transform: translateY(0);
}