body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: flex;
    gap: 20px; /* Space between the buttons */
}

button {
    background-color: #18f98f;
    border: none;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}